<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="vieport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<div>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}


    </style>
    <h1 style="background-color:Black;color:White;"> Welcome to postal addresses search!</h1>
</div>

<center>
    <h2>Enter your search inputs below: </h2>
    <h3 style="color:crimson">At least one input is required</h3>
    <h2>-------------------------------------------------------------------------------</h2>

    <form action="{% url 'search' %}" method="get" class="d-flex">
        <div>
            <!-- This is for the user to enter an address-->
            <label for="query"> Street Address:</label>
            <input class="form-control me-2" type="search" style="id_long_entry" name="query"
                   placeholder="enter street level address" aria-label="Search">
            <!--input class="form-control me-2" type = "statesearch" name = "state" placeholder="Search for state"
            aria-label="Search"-->
        </div>

        </br>

        <div>
            <!-- This is for the user to enter state-->
            <label for="state">State/Territory/Province or Equivalent:</label>
            <input class="form-control me-2" type="search" name="state" placeholder="Washington OR Tokyo"
                   aria-label="Search">
            <!--input class="form-control me-2" type = "statesearch" name = "state" placeholder="Search for state"
            aria-label="Search"-->
        </div>

        </br>

        <div>
            <!-- This is for the drop down of the country for the user to select-->
            <label for="country"> Country Select:</label>
            <select name="country" id="country">
                <!-- Dynamically allocating the countries -->
                <option value="DEFAULT">DEFAULT</option>
                {% for i in get_country %}
                <option value="{{ i }}">{{ i }}</option>

                print(">>>>>name of the country: " + i)
                {% endfor %}
            </select>
        </div>

        </br>
        <div>
            <!-- Submit search button-->
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>

        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>

    </form>
</center>
</form>
</center>
</html>