<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="vieport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<!--Create a method post for the output-->
<form class="grid" action="/result" method="POST">
    <!--Need to display the data of the name: Using jinja template: python base code inside html file -->
    <center>
        <h2>Welcome to postal addresses! Please fill out the blank below when applicable.</h2>
    </center>

    <div>
        <!-- This is for the user to enter an address-->
        <label for="address"> Enter the Address: EX -> 123 Main Street</label>
        <input type="text" name="name" id="name">
    </div>

    <div>
        <!-- This is for the drop down of the country for the user to select-->
        <label for="country"> Select the country: EX -> (USA)</label>
        <select name="country" id="country">
            <option value="DEFAULT">DEFAULT</option>
            <option value="CAN">CAN</option>
            <option value="UKR">UKR</option>
            <option value="BRA">BRA</option>
            <option value="DEU">DEU</option>
            <option value="IND">IND</option>
            <option value="JPN">JPN</option>
            <option value="KOR">KOR</option>
            <option value="IND">IND</option>
            <option value="MEX">MEX</option>
            <option value="ESP">ESP</option>
            <option value="USA">USA</option>
        </select>
    </div>

    <div>
        <!-- This is for the user to enter the postal code-->
        <label for="state"> Enter the state/province/prefecture: EX -> Toyko or EX -> Washington</label>
    </div>

    <input type="text" name="lastname" id="lastname">
    <center><input type="Submit" class="file_submit"></center>
</form>
</body>
</html>