{% extends "base_generic.html" %}

{% block content %}
<p>The postal addresses has the following record counts:</p>
<ul>
    <li><strong>Addresses:</strong> {{ num_addresses }}</li>
    <li><strong>Country Address Structure:</strong> {{ num_countryAddressStructure}}</li>
    <li>
        <strong>These are the typical country address format for each country:</strong></li>
        <table>
            {% for result in get_country %}
            <tr>
                <td>{{result.country_id}}</td>
                <td>{{result.country_name}}</td>
                <td>{{result.country_iso}}</td>
                <td>{{result.address_format}}</td>
            </tr>
            {% endfor %}
        </table>

    <li>  <strong>List of addresses:</strong></li>
        <table>
            {% for result in get_addresses %}
            <tr>
                <td>{{result.addressLine}}</td>
            </tr>
            {% endfor %}
         </table>


</ul>



{% endblock %}

</li>