<!DOCTYPE html>
<head>
    <title> </title>
</head>
<body>
    <center>
        <h1> update and delelte</h1>
        
        <hr/>
        
        <table border="1">
            
            <!-- To fetch the record from the table -->

            {% for result in data %}
            <tr>
            		<td>{{result.country_id}}</td>
					<td>{{result.country_name}}</td>
					<td>{{result.country_iso}}</td>
					<td>{{result.address_format}}</td>
                <td><a href="read/{{result.country_id}}"> update </a></td>
                <td><a href="Delete/{{result.country_id}}" onclick="return confirm('Are You Sure Want to Delete the Record?')"> Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
