{% extends "base_generic.html" %}

{%  block content %}
<!-- HTML CODE TO DISPLAY THE SEARCH RESULTS -->
<div class="container">
    <h2>-------------------------------------------------------------------------------</h2>
    <h1>Results are in:</h1>
    {% if listAddress%}
    <table align="center">
        {% for result in listAddress %}
        <tr>
            <td>{{result}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1 style="color:crimson">No addresses meet your search</h1>
        {% endif %}
    </table>
</div>
</div>

<div class="container">

    <div class="row justify-content-center m-4">

        {% endblock %}