{% extends "base_generic.html" %}

{%  block content %}

 <p>Testing return results</p>

    <div class="container">

            <div class="row justify-content-center m-4">

            {% if state %}

                    <table>
                    {% for result in state %}
                        <td>{{result.addressLine}}</td>
                    </table>

                {% endfor %}
            {% else %}
                     <p>No addresses available for state </p>
            {% endif %}






               <li>  <strong>List of addresses that meet your search:</strong></li>


                    <table>
                    {% if listAddress%}
                    {% for result in listAddress %}
                        <td>{{result}}</td>


                    {% endfor %}



                    {% else %}
                        <p>No addresses available </p>

                    {% endif %}
                    </table>



            </div>

        </div>

    <div class="container">

            <div class="row justify-content-center m-4">

{% endblock %}